# ASP.NET Core
*.swp
*~
*.bak
*.cache
*.log
*.tmp

# Visual Studio
.vscode/
.vs/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React
build/
dist/
.cache/
public/
.env

# Compiled files
*.js
*.jsx
*.css
*.html

# Dependency directories
packages/
bower_components/

# Testing
coverage/

# IDE
.idea/
*.suo
*.user
*.sln.docstates
*.sln.ide

# Miscellaneous
.DS_Store
Thumbs.db
