@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AAAAAAAAAAAAAAAAAAAAAAA</h1>
    <img src="https://media.tenor.com/_1pJ9f1sNVoAAAAi/v1-ultrakill.gif" />
    <p>This stuff is temporary; I just wanted to get this terrifyingly-massive ball rolling a little early. In the meantime enjoy this dancing V1</p>
</div>
