@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hey guys I messed up</h1>
    <img src="https://media.tenor.com/_1pJ9f1sNVoAAAAi/v1-ultrakill.gif"></img>

    <ul>
        <li>
            <a asp-controller="Guest" asp-action="ContactUs">Contact Us Page</a>
        </li>
        <li>
            <a asp-controller="Guest" asp-action="Login">Login Page</a>
        </li>
    </ul>
</div>
